# OS
.DS_Store

# IDE and local environment
.env*.local

# Dependencies
/node_modules
/.pnp
.pnp.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Application
/build
/.next/
/out/
*.tsbuildinfo
next-env.d.ts

# Tests
/coverage

# Distribution
.vercel
*.pem
